
.titulo_formulario{
    text-align: center;
    font-weight: 600;
    margin-top: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
}
.formu{
    justify-self: center;
    background-color: rgba(238, 176, 82, 0.499);
    border: dotted;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.formu_nuevo{
    justify-self: center;
    background-color: rgba(250, 215, 215, 0.499);
    border: dotted;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.formulario{
    width: 85vw;
    margin: 0.5rem;
   	&__fila{
        padding-top: 10px;
    }
    &__datos{  
        font-size: 20px;
    }
    &__input{
        width: 100%;
        font-size: 18px;
        padding: 0.5rem;
        border-radius: 0.5rem;
        cursor: pointer;
        &:focus{
            outline: 2px solid transparent;
            outline-offset: 2px;	
        }
        &:hover {
            font-size: 16px;
            background-color:  #57ff6211;
        } 
    }

    &__submit{
        margin: 10px 0px 10px 0px;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        background-color: rgb(47, 178, 47);
        border-radius:0.5rem;
        color: azure;
        font-size: 20px;
        cursor: pointer;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);

        &:hover {
        font-size: 26px;
        box-shadow: 2px 8px 10px 5px rgba(139, 235, 75, 0.793);
}
    }

    &__reset{
        margin: 10px 0px 10px 0px;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        background-color: rgb(222, 59, 19);
        border-radius:0.5rem;
        color: azure;
        font-size: 20px;
        cursor: pointer;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);

        &:hover {
         font-size: 26px;
         box-shadow: 2px 8px 10px 5px rgba(205, 75, 50, 0.495);
        }
    }
     &__check{
        margin: 0px 15px 10px 2px;
        height:25px;
        width:25px;
        cursor: pointer;
     }

     &__check-categoria{
        padding: 0px 0px 10px 2px;
     }
}
.botones{
    display: flex;
    justify-content: space-between;
}
@media screen and (min-width:576px){
    .formulario{
        width: 60vw;
    }
}
@media screen and (min-width: 992px){
    
    .formulario{
        width: 40vw;
    }    
}

@media screen and (min-width:1200px){
    .formulario{
        width: 30vw;
    }
}