.categoria_span{
    padding-right: 15px;
}

.imagen_tabla{
    width:40px;
}
.boton{
    &__ver{
        background-color: rgb(28, 179, 28);
        width: 50px;
        height: 30px;
        border-radius: 10px;
        margin-right: 5px;
        color: rgb(255, 255, 255);
       cursor: pointer;
    }
    &__editar{
        background-color: rgb(253, 253, 11);
        width: 50px;
        height: 30px;
        border-radius: 10px;
        margin-right: 5px;
        color: rgb(7, 7, 7);
       cursor: pointer;
    }
    &__borrar{
        background-color: red;
        width: 50px;
        height: 30px;
        border-radius: 10px;
        margin-right: 5px;
        color: rgb(255, 255, 255);
       cursor: pointer;
    }
}