.nav-bar-tienda {
    padding-top: 10px;
    display: none;
    width: 90%;
    justify-self: center;
    box-shadow: 1px 1px 20px 1px rgb(244, 178, 178) inset;
    border-radius: 20px;
    .formulario{
        width: 100%;
        margin: 0px;
    }
    &__titulo{
        font-size: 2.5vh;
        text-align: center;
    }
    
    &__filtros{
        text-align: left;
        font-size: 20px;
        padding: 8px;
    }
    
    &__boton{
        justify-content: center;
        text-align: center;
        font-size: 20px;
        margin-top: 10px;
        &__busqueda{
            color: rgb(112, 105, 105);
            background-color: rgb(244, 178, 178);
            height: 30px;
            font-size: 20px;
            width: 100%;
            border: none;
            border-radius: 0px 0px 20px 20px ;
            cursor: pointer;
        }

    }
    &__nav-item{
        margin-left: 10px;
    }
    &__filtros{
        padding-left: 0px;
        margin: 0px;
    }

    @media screen and (min-width: 576px){
        width: 80%;
        &__titulo{
            font-size: 30px;
            text-align: center;
        }
        &__filtros{   
            margin-left: 20px;
        &____nav-item{
            margin-top: 20px; 
        }
        }
    }
        /* DESKTOP ->  max 992px  */
    @media screen and (min-width: 992px) {
        
        & {
            display: block;
            justify-self: end;
            margin-top: 20px;
            width: 95%;
            height:fit-content;
            &__titulo{
                font-size: 3.5vh;
                margin: 10px;
            }
            &__filtros{   
                margin-left: 10px;
                }
            &__nav-item{
                    margin-top: 20px;
                }
          
        } 
              
    }
     
   
}